.venv/
__pycache__/
*.pyc

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

results/raw/*
results/processed/*

!results/raw/.gitkeep
!results/processed/.gitkeep

checkpoints/

figures/*
!figures/.gitkeep

.ipynb_checkpoints/
.vscode/

.env